body {
  background: #e9e9e9;
  color: #666666;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Pen Title */
.pen-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}
.pen-title h1 span {
  display: block;
  margin: 0 0 10px;
  color: #33b5e5;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}
.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #33b5e5;
}
.pen-title span a {
  color: #33b5e5;
  font-weight: 600;
  text-decoration: none;
}

/* Rerun */
.rerun {
  margin: 0 0 30px;
  text-align: center;
}
.rerun a {
  cursor: pointer;
  display: inline-block;
  background: #33b5e5;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
  transition: .3s ease;
}
.rerun a:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* Scroll To Bottom */
#codepen, #portfolio {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #2c3e50;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: .3s ease;
  color: #ffffff;
  text-align: center;
}
#codepen i, #portfolio i {
  line-height: 56px;
}
#codepen:hover, #portfolio:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* CodePen */
#portfolio {
  bottom: 96px;
  right: 36px;
  background: #33b5e5;
  width: 44px;
  height: 44px;
  -webkit-animation: buttonFadeInUp 1s ease;
          animation: buttonFadeInUp 1s ease;
}
#portfolio i {
  line-height: 44px;
}

/* Container */
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1140px;
  margin: 0 auto 100px;
  text-align: center;
}

/* Column */
.col {
  display: block;
  width: 50%;
  float: left;
}

/* Form Container */
.form-container {
  display: inline-block;
  text-align: center;
}
.form-container p {
  padding: 24px 0;
  color: #666666;
  font-size: 12px;
}
.form-container p a {
  color: #333333;
  font-weight: 700;
  text-decoration: none;
}

/* Form */
.form {
  display: block;
  background: #ffffff;
  margin: 0 auto;
  padding: 24px 48px 48px;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.form .header {
  padding: 24px 0;
  text-align: center;
}
.form .header h1 {
  display: none;
  color: #33b5e5;
  font-size: 24px;
}
.form .header h1.active {
  display: block;
}
.form .footer {
  text-align: center;
}
.form .footer a {
  color: #666666;
  font-size: 12px;
  text-decoration: none;
}
.form form {
  display: none;
}
.form form.active {
  display: block;
}
.form .form-group {
  position: relative;
  margin: 0 0 24px;
}
.form .form-group:last-of-type {
  margin: 0 0 36px;
}
.form .form-group label {
  display: none;
}
.form .form-group input {
  outline: 0;
  background: transparent;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #999999;
  padding: 12px;
  font-size: 14px;
  box-sizing: border-box;
}
.form .form-group input:valid, .form .form-group input:focus {
  color: #33b5e5;
}
.form .form-group input:valid ~ .line, .form .form-group input:focus ~ .line {
  background: #33b5e5;
  width: 100%;
}
.form .form-group .line {
  position: absolute;
  bottom: 0;
  left: 0;
  background: transparent;
  width: 0%;
  height: 2px;
  transition: .6s ease;
}
.form .button {
  cursor: pointer;
  position: relative;
  outline: none;
  background: #33b5e5;
  width: 100%;
  margin: 0 0 24px;
  padding: 12px 24px;
  border: 0;
  border-radius: 100px;
  color: #ffffff;
  font-family: 'RobotoDraft', 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  overflow: hidden;
}
.form .button:hover:before {
  left: -10%;
}
.form .button:before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  background: rgba(255, 255, 255, 0.3);
  width: 60%;
  height: 100%;
  -webkit-transform: skew(-45deg);
          transform: skew(-45deg);
  transition: .3s ease;
}

.style-2 .header {
  background: #33b5e5;
  margin: -24px -48px 24px;
  padding: 48px 24px;
}
.style-2 .header h1 {
  color: #ffffff;
}
.style-2 .form-group label {
  position: absolute;
  top: 12px;
  left: 12px;
  display: block;
  font-size: 14px;
  transition: .2s ease;
}
.style-2 .form-group input:focus ~ label, .style-2 .form-group input:valid ~ label {
  font-size: 12px;
  text-transform: uppercase;
  -webkit-transform: translate(-8px, -18px) scale(0.75);
          transform: translate(-8px, -18px) scale(0.75);
}
.style-2 .form-group input::-webkit-input-placeholder {
  color: transparent;
}
.style-2 .button {
  border-radius: 0;
}

/* Tip */
#tip {
  max-width: 600px;
  border-radius: 3px;
  margin: 0 auto 100px;
  line-height: 1.7em;
  text-align: center;
}
#tip h1 {
  margin: 0 0 10px;
  color: #333333;
  font-size: 24px;
  font-weight: 300;
}
#tip p {
  margin: 0 0 10px;
  color: #666666;
}
#tip p b {
  font-weight: 600;
}
#tip code {
  display: block;
  background: #232e34;
  margin: 0 0 100px;
  padding: 10px 20px;
  color: #CDD3DE;
  letter-spacing: 2px;
  text-align: left;
}
#tip code h1 {
  dsplay: block;
  background: #263238;
  margin: -10px -20px 20px;
  padding: 10px 20px;
  color: #CDD3DE;
  font-size: 18px;
}
#tip code h1:before {
  content: '\f121';
  display: inline-block;
  margin: 0 10px 0 0;
  color: #546E7A;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
#tip code p {
  margin: 0;
  color: inherit;
}
#tip code p:nth-child(2) {
  color: #C3E88D;
}
#tip code p:nth-child(4), #tip code p:nth-child(8), #tip code p:nth-child(12) {
  margin: 0 0 0 12px;
}
#tip code p:nth-child(5), #tip code p:nth-child(6), #tip code p:nth-child(7), #tip code p:nth-child(9), #tip code p:nth-child(10), #tip code p:nth-child(11), #tip code p:nth-child(13) {
  margin: 0 0 0 24px;
}
#tip code p span {
  color: #C38FE5;
}
#tip code p span:nth-child(2), #tip code p span:nth-child(3), #tip code p span:nth-child(4), #tip code p span:nth-child(5), #tip code p span:nth-child(6) {
  color: #FF5370;
}

@media (max-width: 768px) {
  .col {
    width: 100%;
  }
}
